.s1{
    background-color: rgb(12, 40, 79); 
}.s1 h1{
    color: rgb(207, 103, 12); 
}
body{
background-image: url("/img123/download\ \(2\).jfif") ;
}
.q{height: 100%;display: flex;width: 30%;float: left;margin: 20px 20px;flex-direction: column; margin-top: 20px;
    
}

.q h2{
    margin-left: 40px;
}
.d{height: 100%;display: flex;width: 30%;float: left;margin: 20px 20px;flex-direction: column; margin-top: 20px;}.a{
    height: 100%;display: flex;width: 30%;float: left;margin: 20px 20px;flex-direction: column; margin-top: 20px;
}
.d img{
    height: 279px;
}
div img{
    margin: 40px 50px; border-radius: 20px solid white;box-sizing: border-box;

    

}
h2{
    color: rgb(243, 53, 10); align-items: center;
}