
.mynav {
    width: 100%;
    background: rgba(50, 54, 58, 0.879) !important;

    border-radius: 20px solid rgb(134, 185, 207) !important;
}
body{
    background-image:  url(/img123/bc_back.jpg) ;
    background-size: cover;
    margin: 0;

}
 background-img{
    opacity: 0.01;
}
.btn, .btn-outline-success{
    height: 40px;
    width: 150px;
    padding: 3px;
    margin-left: 1rem;
    color: white;
    border: 1px solid white;

}.btn, .btn-outline-success a{text-decoration: none;

}
.nav-link:hover, .active:hover{
font: 1em sans-serif;
color: rgb(70, 14, 119);
}
.div img{
    width: 25px;
    height:25px;
    border-radius: 19px solid white;
}
.div1{
    
    height: 80%;display: flex;height: 544px;width: 30%;float: left;margin: 20px 20px; flex-direction: column;text-align: center;margin-top: 40px;
}
.div3{
    height: 544px;display: flex;width: 30%;float: left;margin: 20px
 20px;flex-direction: column;}
.div2{
     height: 544px;display: flex;width: 30%;float: left;margin: 20px 20px;flex-direction: column; margin-top: 20px;
} 
.div1 img{
    width: 150px;height: 150px;margin-left: 140px;
}
h3{
    color: rgb(234, 236, 224);display: inline;align-items: center;
}
.div6{
     height: 544px;width: 80%;display: block;align-items: center; text-align: center;margin-left: 10px;
 
}
h2{
    color: aliceblue; font-style: oblique; margin-top: 10px;
}

h3#123{
color: aquamarine;
}
.primary{
    color: white;background-color: rgb(28, 163, 225); padding: 6px;margin-left: 10px; border-radius: 13%;
}
.div2 img{
    width: 365px;height: 160px;border-radius: 5%; margin-left: 50px;
}
h1{
    color: rgb(236, 242, 52);display: block;text-align: center;
}
.div2 h2{
    color: white; text-align: center;
}
.pr{
    background-color: rgb(167, 125, 206);text-decoration: none; border-radius: 4%;width: 50%; align-items: center; margin-left: 99px;font-size: larger;
}
.pr a{
    color: aliceblue;text-decoration: none;padding: 23px 23px;
}
.div3 img{
    width: 99%; height: 50%;border-radius: 7px;
}
.div3 h2{
    text-align: center;
}.e{
    background-color: rgb(128, 92, 162);text-decoration: none; border-radius: 4%;width: 50%; align-items: center; margin-left: 99px;font-size: larger;

}
.e a{
    color: rgb(218, 226, 233);text-decoration: none; padding: 10px;
}
.gm{
     margin-left: 50%;
}
.gm img{
    margin :10px 20px ;width: 4%;height: 24%; border-radius: 50%; 
}
.gm h2{transition: 2;transition: all;
    text-align: right; margin-right: 30px;margin-bottom: 10px;animation-duration: 2;animation-iteration-count: 3;
    @keyframes h2 {from{
width: 30%;
    }to{
        width: 100%;
    }
        
    }
}
p{
    color: rgb(28, 31, 34); margin-top:69px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; background-color:rgb(245, 242, 242);border-radius: 10px;
    padding: 4px 5px;box-shadow: 2px solid rgb(206, 127, 127);
}
.s1{
    background-color: rgb(71, 128, 207);
}.s1 h1{
    color: rgb(230, 224, 218);
}
.pr a:hover{
    color: rgb(228, 41, 41); font-size: larger;
}.e a:hover{
    color: rgb(228, 241, 79);font-size: larger;
}
.btn ,.btn-outline-success a{
    color: aliceblue;text-decoration: none;
}
